
 @font-face {
    font-family: "Expressway";
    src: url("expressway\ rg.ttf");
 } 

 body {
    background: #000000;
    height: 100vh;
    min-height: 100vh;
    overflow: hidden;
    font-family: "Expressway";
    font-size:2vh;
    color: white;
    letter-spacing: 0.05em;
    line-height: 1.5;
  }

  #main {
    text-align: center;
    /*background-color: green;*/
    min-height: 90vh;
    max-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #header {
    /*background: yellowgreen;*/
    min-height: 5vh;
  }

  #footer {
    /*background: pink;*/
    min-height: 5vh;
    text-align: right;
  }

  img
  {
      max-width: 100vw;
      max-height: 60vh;
      object-fit: contain;
      opacity: 0;
      transition: opacity .5s ease-in-out;
  }

  #caption {
      text-align: left;
      /*background: lightblue;*/
      transition: all .5s ease-in-out;
  }

  #source {
    margin-top: 1vh;
    border-style: solid;
    border-width: 0.5px 0 0 0;
    border-color: #a3a3a3;
    font-size:1vh;
    color: #a3a3a3;
  }


  #main_about {
    text-align: left;
    flex-direction: column;
    /*background-color: green;*/
    min-height: 86vh;
    max-height: 86vh;
    padding: 2vh;
    display: flex;
    font-size:1.5vh;


  }

  .navbuttons {
    position: absolute;
    height: 10vh;
    width: 5vh;
    bottom: 50vh;
    color: white;
    border: none;
    font-family: "Expressway";
    font-size: 2vh;
    outline: none;
    background-color: Transparent;
  }

  .navbuttons:hover {
    background: rgba(255,255,255,0.5);
  }

  .navbuttons:disabled {
    color: transparent;
    background: transparent;
  }

  .navbuttons:disabled #prev_img {
    visibility: hidden;
  }


  #prev {
    left: 0;
   }

  .prev_next_hidden {
    display: none;
  }

  

  #next {
    right: 0;
   }



  #footer a:link,
  #footer a:visited
  {
    color: #701538;
  }

  .important,
  .important a:link,
  .important a:visited
  {
    color:  #ff2e7d;
  }

  .scroll
  {
    overflow: auto;
  }
